@media screen {
  /* --- Reset Styles --- */
  * {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  .welcome-image h1{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 84px;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
    text-align: center;
    color: #800000;
    text-shadow: 1px 1px 2px black;
  }

  .welcome-image h1#top-title{
    top: 30%;
  }

  .welcome-image h1#bottom-title{
    top: 40%;
  }
  
  img#welcome {
    float: top;
    width: 100%;
    height: 600px;
  }

  body {
    background-color: #400000;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  /* Navbar links */
  .navbar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #CBCBCB;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a#first {
    background-color: #800000;
    color: #FFFFFF;
  }

  .navbar a:hover {
    background-color: #000000;
    color: #FFFFFF;
  }

  .navbar a#first:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  /* Style the input container */
  .navbar .login-container {
    float: right;
  }

  /* Style the input field inside the navbar */
  .navbar input {
    margin-top: 11.35px;
    font-size: 17px;
    border: 3px thin black;
    width: 150px;
  }

  .navbar input:focus {
    border: 2px solid #800000;
  }

  /* Style the buttons inside the input container */
  .login-container {
    margin-right: 6px;
  }

  .login-container button {
    display: inline-block;
    margin-top: 11px;
    margin-right: 2px;
    background: #282828;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .navbar form#in-button {
    float: left;
  }

  .navbar form#out-button {
    padding: 1px;
    float: right;
  }

  .navbar .login-container button:hover {
    background: #800000;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 1px auto;
    max-width: 960px;
    padding-bottom: 0.25%;
    width: 85%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  /* User Profile Styles */

  /* Style Table Labels */
  .profile-headers {
    margin: 0% 8% 5% 23%;

  }

  .header-title {
    float: left;
    width: 10%;
    margin-right: 7%;
    text-decoration: underline;
  }

  .header-title h3 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  .header-title:after {
    content: "";
    display: table;
    clear: both;
  }

/* Allocate table location */
  .profile-row {
    margin: 0% 8% 1% 23%;
  }
  /* Style Table Columns */

  .column {
    float: left;
    width: 10%;
    margin-right: 7%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
  }
  
  /* Style Each Column Element */
  .column a {
    color: black;
  }

  /* Style Row Button */
  a#edit {
    color: white;
    text-decoration: none;
  }
  
  .column button {
    display: inline-block;
    width: 66px;
    background: #400000;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .column button:hover {
    background: black;
  }
  /* Style conditional "Incomplete" Element */
  .column#stat-check {
    color: #800000;
    font-weight: bold;
  }

  .profile-row:after {
    content: "";
    display: table;
    clear: both;
  }
/* End Table */

/* Style "Add Character" Button */
  .add-character button {
    float: left;
    margin-left: 22.5%;
    margin-bottom: 3%;
    width: 87px;
    background: #400000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .add-character a {
    text-decoration: none;
    color: white;
  }
  
    .add-character button:hover {
      background: black;
    }

/* Style "Edit Profile" Button */
  .edit-user {
    float: right;
    margin-right: 8px;
    margin-top: 3px;
  }

  .edit-user button {
    width: 77px;
    background: #400000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .edit-user button:hover {
    background: black;
  }

  .edit-user a {
    text-decoration: none;
    color: white;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    padding-top: 20px;
    padding-right: 8px;
    text-align: right;
    font-family: 'Eczar', serif;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
