<h1>Welcome</h1>

<h3>Please Fill Out The Information Below</h3>

<form action="/signup" method="post">
    <label>Username:</label><br>
    <input type="text" name="user[username]"><br>
    <label>Email:</label><br>
    <input type="text" name="user[email]"><br>
    <label>Password:</label><br>
    <input type="password" name="user[password]"><br>
    <input type="submit" value="Create Account">
</form>