<h1>Change Password</h1>

<form action="/<%=@user.username%>/password" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Current Password:</label>
        <input type="password" name="password[current]"><br>
    <label>New Password:</label>
        <input type="password" name="password[new]"><br>
    <label>Confirm Password:</label>
        <input type="password" name="password[confirm]"><br>
    <input type="submit" value="Change Password">
</form>