<h1><%= @user.username %>'s Profile</h1>

<h2>Created Character's</h2>
<ul>
<% @user.characters.each do |character| %>
    <li><a href="/characters/<%=character.id%>"><%=character.name%></a></li>
<% end %>
</ul>

<br><br>

<h5><!-- Add <a href=/character/new> tag -->New Character</h5>
<h5><a href="/<%=@user.username%>/edit">Edit Profile</a></h5>