<br><br><br>
<h1>Characters</h1>

<div class="index-container">
<ul>
<% @characters.each do |character| %>
    <h3><a href="/characters/<%=character.id%>"><%=character.name%></a>,
    Made By:<a href="/<%=character.owner%>"> <%=character.owner%></a>
    </h3>
<% end %>
</ul>
</div>