<h1>Create New Character</h1><br>

<form action="/characters" method="post">
    <select name="answer">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <br>
    <input type="submit" value="TODO">
</form>