<div class="welcome-container">
    <div class="welcome-image">
    <h1 id="top-title">Creation</h1>
    <h1 id="bottom-title">Station</h1>
    <img id="welcome" src="images/edited_char.jpg" alt="Cavalry Charging Head-First">
    </div>
</div>